PoR_train_classifier/Distance/1/images
PoR_train_classifier/Distance/2/images
PoR_train_classifier/Distance/3/images
PoR_train_classifier/PathOccupied/1/images
PoR_train_classifier/PathOccupied/2/images
PoR_train_classifier/PathOccupied/3/images


.idea